[Desktop Entry]
Name=Popcorn Time
Comment=Watch torrent movies instantly
Exec=popcorntime-bin %U
Icon=popcorntime-bin
Terminal=false
Type=Application
Categories=Player;AudioVideo;Video;Network;
